/* ============================================================
   SEMANTIC COLORS
   ============================================================ */

   @theme {
    --color-surface:    var(--primitive-bg);
    --color-content:    var(--primitive-text);
    --color-graphics:   var(--primitive-graphics);
  }
  
  body {
    background-color: var(--primitive-bg);
    color: var(--primitive-text);
  }